body::before {
    display: block;
    content: '';
    height: 60px;
}



.h6 {
    margin-top: -1rem !important;
    margin-right: 1rem !important;
    background: #FF4E4E !important;
}


@media screen and (min-width:768px) {
    .input-group {
        width: 50% !important;
    }
}